/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bower_components/*
/web/bundles/
/web/css/*.css
/web/css/mobile/*.css
/web/css/main/*.css
/web/css/main/admin/*.css
.idea
/app/db/apps.db
*~
web/uploads/screenshots/*