<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Podtoid Aural Extrusion Soundboard</title>
        <link rel="stylesheet" href="/css/main.css" media="screen"/>
        <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width:600px)"/>
        <link rel="stylesheet" href="/css/desktop.css" media="screen and (min-width:601px)"/>
        {#<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>#}
        <meta name="viewport" content="width=device-width"/>

        <script src={{ asset('bower_components/jquery/dist/jquery.min.js') }}></script>
        <script src="{{ asset('bower_components/jquery-touchswipe/jquery.touchSwipe.min.js') }}"></script>
    </head>
    <body>
        <div id="Content">
            <div id="Header">
                {{ include("::header.html.twig") }}
            </div>
            <div id="Footer">
                {{ include("::footer.html.twig" ) }}
            </div>
            {% block body %}{% endblock body %}
        </div>
        <div style="clear:both"></div>
        <script src="/js/Soundboard.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
