<div id="ButtonHelp" onclick="ShowHelp()"><a href="#">Help</a></div>
<div id="HelpBox">
    <div class="help-title">Help</div>
    <div class="help-content">
        <div class="help-content-desktop">
            <p>Press the left and right arrow keys to navigate categories.</p>

            <p>Press ESC to abort playback.</p>

        </div>
    </div>
</div>
<div>&copy;2015 <a href="http://BytesTemplar.com/" target="_blank">Bytes Templar</a></div>
<div style="font-size: smaller">Uses content from the <a href="http://podtoid.wikia.com/wiki/Podtoid_Wiki" target="_blank">Podtoid</a> podcast without permission.</div>