{% extends "::base.html.twig" %}
{% block body %}
    <div id="CategoryBanner">
        <img src="/assets/images/header_holmes.jpg"/>
    </div>
    <div id="ButtonContainer">
        <ul>
            <li class="sound_button" onclick="soundboard.PlaySound(0)">What?</li>
            <li class="sound_button" onclick="soundboard.PlaySound(1)">When a nude man...</li>
            <li class="sound_button" onclick="soundboard.PlaySound(2)">Not that special</li>
            <li class="sound_button" onclick="soundboard.PlaySound(3)">Owls are hot</li>
            <li class="sound_button" onclick="soundboard.PlaySound(4)">Every time I say "Wii"</li>

            <li class="sound_button" onclick="soundboard.PlaySound(0)">What?</li>
            <li class="sound_button" onclick="soundboard.PlaySound(1)">When a nude man...</li>
            <li class="sound_button" onclick="soundboard.PlaySound(2)">Not that special</li>
            <li class="sound_button" onclick="soundboard.PlaySound(3)">Owls are hot</li>
            <li class="sound_button" onclick="soundboard.PlaySound(4)">Every time I say "Wii"</li>

            <li class="sound_button" onclick="soundboard.PlaySound(0)">What?</li>
            <li class="sound_button" onclick="soundboard.PlaySound(1)">When a nude man...</li>
            <li class="sound_button" onclick="soundboard.PlaySound(2)">Not that special</li>
            <li class="sound_button" onclick="soundboard.PlaySound(3)">Owls are hot</li>
            <li class="sound_button" onclick="soundboard.PlaySound(4)">Every time I say "Wii"</li>

            <li class="sound_button" onclick="soundboard.PlaySound(0)">What?</li>
            <li class="sound_button" onclick="soundboard.PlaySound(1)">When a nude man...</li>
            <li class="sound_button" onclick="soundboard.PlaySound(2)">Not that special</li>
            <li class="sound_button" onclick="soundboard.PlaySound(3)">Owls are hot</li>
            <li class="sound_button" onclick="soundboard.PlaySound(4)">Every time I say "Wii"</li>

        </ul>

    </div>
{% endblock %}