{% extends "::base.html.twig" %}
{% block body %}
    <div id="CarouselContainer">
    {% for category in data.category %}
    <div class="page">
        <div class="page_name">{{ category.name|upper }}</div>
        <div class="category-banner">
            <img src='assets/images/header_{{ category.name|lower }}.png'/>
        </div>
        <div class="button-container">
            <ul>
                {% for clip in category.clips %}
                    <li class="sound_button" onclick="soundboard.PlaySound('{{ clip.path }}')">{{ clip.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

{% endblock %}